#instruments {
    margin: auto;
    max-height: 20em;
    display: none;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}

#inputBox {
    display: block;
    margin: auto;
    max-width: 20em;
}