body {
    margin: 0;
}

#instruments {
    margin: auto;
    max-height: 30em;
    /*display: none;*/
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}

#inputBox {
    display: block;
    margin: auto;
    max-width: 20em;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
}
